#certificate-border {
		border: 50px solid transparent;
		border-image: url(../images/border-image.png) 100;
	}

	.lineheight {
		line-height: 25px;
	}

	.hr-margin {
		margin-top: 5rem;
	}

    .certificate-printable {
		display: none;
		visibility: hidden;
	}



	@media print {
		#pcoded {
			display: none;
		}
        .certificate-printable {
        border: 50px solid transparent;
		border-image: url(../images/border-image.png) 100;
		display: block;
        visibility: visible;
	}
	}

	