.flip-clock-wrapper {
	width: auto;
}

.flip-clock-label {
	display: none;
}

.flip-clock-dot.top {
	top: 20px;
}

.flip-clock-dot.bottom {
	bottom: 15px;
}

.flip-clock-divider {
	height: 70px;
}

.flip-clock-wrapper {
	font: normal 0px "Helvetica Neue", Helvetica, sans-serif;
	-webkit-user-select: none;
}

.flip-clock-wrapper ul {
	position: relative;
	float: left;
	margin: 3px;
	margin-top: 0px;
	width: 50px;
	height: 70px;
	font-size: 69px;
	font-weight: bold;
	line-height: 71px;
	border-radius: 3px;
	background: #000;
}

.flip-clock-wrapper ul li {
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	line-height: 70px;
	text-decoration: none !important;
}



.card-block.timer-block-child {
    padding-top: 0px;
}
@media only screen and (max-width:720px){
	.timer-block{
		border-radius: 5px;
		-webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
		box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
		border: none;
		margin-bottom: 30px;
		-webkit-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 1px solid rgba(0,0,0,.125);
		border-radius: .25rem;
	}
	.card-block.timer-block-child {
		padding-top: 25px;
	}
	.flip-clock-wrapper {
		width: auto;
	}
	
	.flip-clock-label {
		display: none;
	}
	
	.flip-clock-dot.top {
		top: 12px;
	}
	
	.flip-clock-dot.bottom {
		bottom: 19px;
	}
	
	.flip-clock-divider {
		height: 62px;
	}
	
	.flip-clock-wrapper {
		font: normal 0px "Helvetica Neue", Helvetica, sans-serif;
		-webkit-user-select: none;
	}
	
	.flip-clock-wrapper ul {
		position: relative;
    float: left;
    margin: 3px;
    margin-top: 0px;
    width: 38px;
    height: 50px;
    font-size: 30px;
    font-weight: 100;
    line-height: 13px;
    border-radius: 3px;
    background: #000;
	}
	
	.flip-clock-wrapper ul li {
		z-index: 1;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		line-height: 47px;
		text-decoration: none !important;
	}
	.flip-clock-wrapper ul li a div div.inn {
		
		font-size: 51px;
	}
}